* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Avant Garde", sans-serif;
  background-color: #d1e7c5;
  background-image: url("../src/assets/background.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather-app {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #5e8969;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex-grow: 1;
}

.weather-app header {
  margin-bottom: 20px;
}

.weather-app .search-form {
  margin-bottom: 20px;
}

.weather-app .search-form-input {
  padding: 10px;
  border: 1px solid #b0d4a5;
  border-radius: 5px;
  width: 200px;
  font-size: 1rem;
}

.weather-app .search-form-button {
  padding: 10px 20px;
  background-color: #3b5645;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.weather-app .weather-app-data {
  margin-bottom: 20px;
}

.weather-app .default-city-name {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #4c3d4e;
}

.weather-app .weather-app-image {
  font-size: 3rem;
  margin-bottom: 10px;
}

.weather-app .weather-app-details {
  font-size: 1rem;
  color: #6d7f71;
  line-height: 1.5;
}

.forecast-container {
  margin-top: 20px;
  text-align: center;
}

.forecast-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.forecast-item {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 88px;
  text-align: center;
  color: #fff;
}

footer {
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  margin-top: auto;
}
